# articles with personal information
# docs/secrets/

# encryptcontent cache
encryptcontent.cache

# generated site files
site/

# virtualenv
env/
venv/
venv-mkdocs/

# IDE files
.idea/
.cache/
.env/
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
