/*YouTube 图标颜色*/
.youtube {
  color: #ee0f0f;
}

/*心跳动画*/
@keyframes heart {
  0%,
  40%,
  80%,
  100% {
    transform: scale(1);
  }
  20%,
  60% {
    transform: scale(1.15);
  }
}

/* 应用心跳动画的类 */
.heart {
  animation: heart 1000ms infinite;
}
